.wrap{
	margin:0 auto;
	width:1024px;
}
body{
	color: #333;
	background-image:url(../images/low_contrast_linen.png);
	font-family: 'Anaheim', sans-serif;
}

.logo{
	
	margin:100px auto 65px auto;
	width:365px;
}
.logo h1{
	margin-bottom:10px;
}
.logo h1 a{
	color:#F89F00;
	font-size:45px;
	
}
.logo span{
	font-size:20px;
	color:#E4E4E4;
}
.gallery{
	padding-bottom:40px;
}
.gallery li{
	margin-right:31px;
	float:left;
	margin-bottom:40px;
		

}
.gallery img{
	padding: 20px;
	background-image: url(../images/debut_light.png);
	
}
.gallery li:nth-child(3),.gallery li:nth-child(6),.gallery li:nth-child(9){
	margin-right:0px;
}

.content{
	text-align:center;
}
.content-text p{
	background-image: url(../images/debut_light.png);
	padding: 40px 40px 50px 40px;
	
	font-size: 1.2em;
	color: #846244;
	
	letter-spacing: 1px;
	line-height: 2em;
}
.content-text h2{
	font-size:20px;
	color:#fff;
	padding:20px;
	background-image: url(../images/bg8.jpg);
}
.footer{
	margin:40px 0;
}
.copy{
	margin:20px 0;
	color:#fff;
	float:left;
}
.copy a{
	color:#F89F00;
}
.copy a:hover{
	color:#666633;
}
.social-icon{
	float:right;
}
.social-icon li{
	float:left;	
	margin-right:8px;
}
.social-icon ul li:last-child{
	margin-right:0;
}
iframe{
	width:100%;
}
/*--responsive--*/

@media(max-width:1050px){
	.wrap {
		margin: 0px auto;
		width: 945px;
	}

}
@media(max-width:1024px){
	.wrap {
		width: 961px;
	}

}
@media(max-width:991px){

	.wrap {
		margin: 0px auto;
		width: 897px;
	}
	.gallery li:nth-child(3), .gallery li:nth-child(6), .gallery li:nth-child(9),.gallery li:nth-child(5) {
		margin-right: 0;
		margin:0;
	}
	.gallery li {
		margin-right: 0;
		float: left;
		margin-bottom: 0;
		width: 48%;
		margin: 1% 1%!important;
	}
	.logo {
		margin: 67px auto 36px auto;
		width: 365px;
	}
}
@media(max-width:900px){
	.wrap {
		margin: 0px auto;
		width: 820px;
	}

}	
@media(max-width:800px){
	.wrap {
		margin: 0px auto;
		width: 700px;
	}
	.menu ul li a {
		padding: 13px 11px;
	}
}
@media (max-width:736px){
	.wrap {
		margin: 0px auto;
		width: 627px;
	}

}
@media(max-width:667px){
	.wrap {
		margin: 0px auto;
		width: 600px;
	}
	.gallery img {
		padding: 10px;
		background-image: url(../images/debut_light.png);
	}
	.gallery li {
		margin-right: 0;
		float: left;
		margin-bottom: 0;
		width: 41%;
		margin: 1% 4%!important;
	}
	.copy {
		margin: 20px 0;
		color: #fff;
		float: none;
		text-align: center;
	}
	.social-icon {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 36%;
	}
}
@media(max-width:640px){
	.wrap {
		margin: 0px auto;
		width: 570px;
	}
	.social-icon {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 38%;
	}
}
@media(max-width:600px){
	.wrap {
		margin: 0px auto;
		width:458px;
	}
	.social-icon {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 46%;
	}
}
@media(max-width:568px){
	.menu ul li a {
		padding: 13px 7px;
	}
	.logo {
		width: 365px;
		text-align: center;
		margin: 50px auto 33px;
	}
}
@media(max-width:480px){
	.wrap {
		margin: 0px auto;
		width:375px;
	}
	.logo img {
		margin: 0 auto;
		width: 71%;
	}
	.social-icon {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 61%;
	}
	.logo span {
       font-size: 17px;
	}
	.content-text p {
		background-image: url(../images/debut_light.png);
		padding: 16px 20px 19px 20px;
		font-size: 1em;
		line-height: 2em;
	}
}

@media(max-width:414px){

	.wrap {
		margin: 0px auto;
		width: 357px;
	}
	.gallery li {
		width: 39%;
		margin: 1% 4%!important;
	}

}
@media(max-width:384px){
	.wrap {
		margin: 0px auto;
		width: 363px;
	}
}
@media(max-width:375px){
	.wrap {
		margin: 0px auto;
		width: 337px;
	}
	.logo {
		width: 319px;
		text-align: center;
		margin: 50px auto 33px;
	}
	.social-icon {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 64%;
	}
}
@media(max-width:320px){
	.wrap {
		margin: 0px auto;
		width: 285px;
	}
	.logo {
		width: 273px;
		text-align: center;
		margin: 40px auto 25px;
	}
	.social-icon {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 74%;
	}
}